.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3; text-align: center; 
    background-color: aqua;
    
}

body{
    background-color: rgb(170, 255, 230);
}

.photoshop{
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
}

#camera{
    width:500px;
    height:400px;
    border:1px solid rgb(4, 0, 109);
}

img{
    box-shadow:0 6px 8px 0 rgb(255, 180, 87);
}

img:hover {
    border-radius: 140px;
}